
{% load static %}


<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" href="{% static "css/login.css" %}" />
        <title>Hub Login</title>
    </head>
    <body onload="start()">


  <form id ="login_container0" method="post" action="{% url 'login' %}">
  {% csrf_token %}
    <div id = "field_1">
      {{ form.username }}
    </div>

    <div id = "field_4">
      {{ form.password }}
    </div>
    <div id="error">
    {% if form.errors %}
    <p>Username or password incorrect.</p>
    {% endif %}
    </div>
  <button id ="signup_button0" class="button" onclick="location.href = '{% url 'signup' %}';">Sign Up</button>

  <input id ="login_button0" class="button" type="submit" value="Login" />

  <input type="hidden" name="next" value="{{ next }}" />
  </form>
  <script>

      document.getElementById("id_username").placeholder='Username';
      document.getElementById("id_password").placeholder='Password';

  </script>
    </body>
</html>
