{% load static %}


{% block content %}
<head>

    <title>Hub Registration</title>
    <link rel="stylesheet" href="{% static "css/login.css" %}" />
</head>
<body onload="start()">



    <form method="post" id="login_container" style="text-align: left;">
      {% csrf_token %}
      {% for field in form %}
          <div id="field_{{ forloop.counter }}">
            {{ field }}


            {% for error in field.errors %}
              <p >{{ error }}</p>
            {% endfor %}
          </div>

      {% endfor %}

      <button id ="signup_button" class="button" type="submit">Sign up</button>
      <button id ="login_button" class="button" onclick="location.href = '{% url 'login' %}';">Return To Login</button>

    </form>
<script type="text/javascript" src='{% static "jquery-3.2.1.min.js" %}'></script>

<script>
  var accent_color = "#EBA421";
  var theme_color = "#eef3f4";
  function start(){

    document.getElementById("id_theme_color_0").innerHTML = "<img src='{% static "images/light.svg" %}'>";
    $('#id_theme_color_0').prop('checked', true);
    $('#id_accent_color_0').prop('checked', true);


    $('#id_accent_color_0').children('img').css("border","4px solid " + accent_color);
    $('#id_accent_color_0').children('img').css("background",accent_color);
    $('#id_accent_color_0').children('img').css("opacity","1");

    $('#id_theme_color_0').children('img').css("border","4px solid " + accent_color);
    $('#id_theme_color_0').children('img').css("background", accent_color);




    document.getElementById("id_theme_color_1").innerHTML = "<img src='{% static "images/dark.svg" %}'>";
    document.getElementById("id_accent_color_0").innerHTML = "<img src='{% static "images/orange.svg" %}'>";
    document.getElementById("id_accent_color_1").innerHTML = "<img src='{% static "images/green.svg" %}'>";
    document.getElementById("id_accent_color_2").innerHTML = "<img src='{% static "images/red.svg" %}'>";
    document.getElementById("id_accent_color_3").innerHTML = "<img src='{% static "images/blue.svg" %}'>";
    document.getElementById("id_username").placeholder='Username';
    document.getElementById("id_password1").placeholder='Password';
    document.getElementById("id_password2").placeholder='Confirm Password';

  }

  function clear_accents(){
    $('#id_accent_color_0').children('img').removeAttr('style');
    $('#id_accent_color_1').children('img').removeAttr('style');
    $('#id_accent_color_2').children('img').removeAttr('style');
    $('#id_accent_color_3').children('img').removeAttr('style');

  }

  $("[name='accent_color']").click(function() {
    clear_accents();
    if (this.id == "id_accent_color_0"){
      accent_color = "#EBA421";
    }
    else if (this.id == "id_accent_color_1"){
      accent_color = "#008000";
    }
    else if (this.id == "id_accent_color_2"){
      accent_color = "#B6313E";
    }
    else {
      accent_color = "#4472A7";
    }
    if (theme_color == "#eef3f4"){
      $('#id_theme_color_1').children('img').removeAttr('style');
      $('#id_theme_color_0').children('img').css("border","4px solid " + accent_color);
      $('#id_theme_color_0').children('img').css("background",accent_color);
    }
    else{
      $('#id_theme_color_0').children('img').removeAttr('style');
      $('#id_theme_color_1').children('img').css("border","4px solid " + accent_color);
      $('#id_theme_color_1').children('img').css("background",accent_color);
    }



    $('#id_username').css("border-bottom", "1px solid " + accent_color);
    $('#id_password1').css("border-bottom", "1px solid " + accent_color);
    $('#id_password2').css("border-bottom", "1px solid " + accent_color);

    $('.button').css("background", accent_color);


    $(this).children('img').css("background",accent_color);
    $(this).children('img').css("opacity","1");

    $(this).children('img').css("border","4px solid " + accent_color);
    $(this).children('img').css("background",accent_color);
    $(this).children('img').css("opacity","1");

  });


  $("[name='theme_color']").click(function() {

    $('#id_theme_color_0').children('img').removeAttr('style');
    $('#id_theme_color_1').children('img').removeAttr('style');

    if (this.id == "id_theme_color_0"){
      theme_color = "#eef3f4";
      $('body').css("background","#eef3f4");

      $("#id_username").attr("class","");
      $("#id_password1").attr("class","");
      $("#id_password2").attr("class","");
    }

    else {
      theme_color = "#222222";

      $("#id_username").attr("class","black-placeholder");
      $("#id_password1").attr("class","black-placeholder");
      $("#id_password2").attr("class","black-placeholder");

      $('body').css("background","#222222");

    }
    $(this).children('img').css("border","4px solid " + accent_color);
    $(this).children('img').css("background",accent_color);

  });


</script>
</body>


{% endblock %}
