
#usertable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin: auto;

}

#usertable td, #usertable th {
    padding: 8px;
}



#usertable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #EBA421;
    color: white;
}

.small_button {
    position: relative;
    height: 40px;
    min-width: 40px;
    outline: none;
    opacity: 0.5;
    background-color: #EBA421;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.small_button:hover {
    opacity: 1;
}

#login_div{
    margin: auto;
    width: 70%;
    margin-top: 35px;
    padding: 25px 25px 25px 25px;
    font-size: 20px ;
    text-align: center;

}
