body, html{
  height: 100%;
  overflow: hidden;
  margin:0;
  padding:0;
  background: #eef3f4;
	font-family: 'LatoL';
  font-weight: 300;
  font-size: 16;
}

@font-face {
    font-family: 'LatoL';
    src: url('Lato-Light.ttf');
}

#login_container{
  display: grid;
  width: 260px;
  height: 400px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#login_container0{
  display: grid;
  width: 260px;
  height: 170px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

#id_username{


}
#field_1{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

#field_2{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}
#field_3{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}
#field_4{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
#field_5{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
#signup_button{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}
#login_button{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
}
#signup_button0{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}
#login_button0{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}
#error{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
input{
  outline: none;
  width: 100%;
}
input[type=text], input[type=password]{
  background: none;
  width: 100%;
  border: none;
  border-bottom: 1px solid #EBA421;

}
#field_2 input, #field_3 input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

img {
    box-sizing: inset;
    opacity: 0.5;
    height: 40%;
    width: 40%;
    border: 4px solid #d9d9da;
    border-radius: 50%;
    background: #d9d9da;
  }



img:hover {
    opacity: 1;
  }
label {
  font-size: 0px;
}
li {
    list-style-type: none;
}
.button {
    outline: none;
    opacity: 0.5;
    background-color: #EBA421;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
  opacity: 1;
}

input.black-placeholder::placeholder {
    color: #ffffff;
}
input.black-placeholder {
    color: #ffffff;
}
p {
  padding: 5px;
  font-weight: bold;
  font-size: 14;
  border-radius: 5px;
  color: white;
  background: #EBA421;
}
