h1{
  font-weight: normal;
  font-size: 50px;
  top: 0;
  margin-top: 0;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;

  width: 80%;

  position: absolute;
  z-index: 3;
  text-align: center;
}



.therm {
  position: absolute;
}


.Orange, .Green, .Red, .Blue{
  height: 6%;
  width: 100%;
  position: fixed;
  z-index: 5;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  transition: all ease 0.5s;
}
#Light{
  background-color: #eef3f4;
  -moz-box-shadow:    3px 0px 0px 0px #eef3f4;
  -webkit-box-shadow: 3px 0px 0px 0px #eef3f4;
  box-shadow:         3px 0px 0px 0px #eef3f4;
}

#Dark{
  background-color: #222222;
  -moz-box-shadow:    3px 0px 0px 0px #222222;
  -webkit-box-shadow: 3px 0px 0px 0px #222222;
  box-shadow:         3px 0px 0px 0px #222222;
}

#Light + .radio{
  background-color: #eef3f4;
}

#Dark + .radio{
  background-color: #222222;
}

.radio{
    z-index: 5;
    text-align: center;
    display:inline-block;
    width: calc(100%/3);
    color: #818181;
    bottom: 5px;
    height: 100%;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}


.Orange input[type=radio], .Green input[type=radio], .Red input[type=radio], .Blue input[type=radio]{
    display:none
}



.Orange input[type=radio]:checked + .radio{
  background-color: #EBA421;
}
.Green input[type=radio]:checked + .radio{
  background-color: #008000;
}
.Red input[type=radio]:checked + .radio{
  background-color: #B6313E;
}
.Blue input[type=radio]:checked + .radio{
  background-color: #4472A7;
}



.Orange input[type=radio]:hover + .radio{
  opacity: 0.5;
  background-color: #EBA421;
}
.Green input[type=radio]:hover + .radio{
  opacity: 0.5;
  background-color: #008000;
}
.Red input[type=radio]:hover + .radio{
  opacity: 0.5;
  background-color: #B6313E;
}
.Blue input[type=radio]:hover + .radio{
  opacity: 0.5;
  background-color: #4472A7;
}

#disconnect_error{
    pointer-events: none;
    visibility: hidden;
    position: absolute;
    z-index: 7;
    text-align: center;
    font-size: 30px;
    width: 50%;
    top: 50px;
    color: #f9fafc;
    background-color: #E11727;
    border-radius: 15px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#disconnect_alpha{
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 6;
    opacity: 0.5;
    background-color: #FFFFFF;
}
