body, html{
  height: 100%;
  overflow: hidden;
  margin:0;
  padding:0;
  background: #eef3f4;
	font-family: 'LatoL';
  font-weight: 300;
  font-size: 40;
  color: #818181;
}

@font-face {
    font-family: 'LatoL';
    src: url('Lato-Light.ttf');
}

#container{
  display: grid;
  width: 30%;
  min-width: 200px;
  height: 70%;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#theme_text{
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

#light{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

#dark{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

#accent_text{

  text-align: center;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;
}

#orange{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 6;
}

#green{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
}

#red{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
}

#blue{
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 7;
}

#gap{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 8;
  height: 50px;
}
#return{
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50px;
  outline: none;
  opacity: 0.5;
  background-color: #EBA421;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 8;
  grid-row-end: 9;
}

#return:hover {
  opacity: 1;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 100px;
  box-sizing: inset;
  opacity: 0.5;
  border: 4px solid #d9d9da;
  border-radius: 50%;
  background: #d9d9da;
  opacity: 0.5;
}
img:hover{
  opacity: 1;
}
