
{% extends 'base.html'%}

{% load static %}

{% block base %}

{% ifequal user.groups.all.0.name "Admin" %}
    <link rel="stylesheet" href="{% static "css/admin.css" %}" />

          <body style="overflow: auto;">
                  <div id="login_div">
                    <br>

                    <table id ="usertable">
                      <thead>
                        <tr >
                          <th>UserName</th>
                          <th>Access Level</th>
                          <th>Increase Access Level</th>
                          <th>Decrease Access Level</th>
                          <th>Delete User</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for User in user_group %}
                        <tr id = "row_{{ forloop.counter0 }}" class ="list">

                          <td align="center"> {{ User }} </td>
                          <td align="center" id="access_level_{{ forloop.counter0 }}"> {{ User.groups.all.0 }}</td>

                          <td align="center">
                            <button class="small_button" data-action="change_permission_level" id="increase_permission_level%{{ User.id }}%{{ User.groups.all.0 }}%{{ forloop.counter0 }}">+</button>
                          </td>

                          <td align="center">
                            <button class="small_button" data-action="change_permission_level" id="decrease_permission_level%{{ User.id }}%{{ User.groups.all.0 }}%{{ forloop.counter0 }}">-</button>
                          </td>

                          <td align="center">
                            <button class="small_button" data-action="delete_user" id="delete%{{ User.id }}%{{ forloop.counter0 }}">Delete</a>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    </div>



                  <div id="login_div">
                    <p> When a user registers, their default rank is: <span id="default_access_level">{{ default_rank }}</span></p>

                    <input type="button"
                           class="small_button"
                           value="Ranks Explained"
                           onclick="location.href = '{% url 'ranks' %}';" />
                    <br>
                    <br>
                    <div id="button_div">
                        <button class="small_button" data-action="change_default_permission_level" id="decrease_default_permission_level_button">—</button>
                        <button class="small_button" data-action="change_default_permission_level" id="increase_default_permission_level_button">+</button>
                    </div>
                  </div>


                  <div id="login_div">
                    <p> The ability for new users to register is: <span id="register_enabled">{{ new_user_register_ability }}</span></p>
                    <br>
                    <button class="small_button" data-action="toggle_register_ability">Toggle</button>


                  </div>

                  <div id="login_div">
                    <p> AI controlled schedule is currently: <span id="current_schedule_ai_state">{{ ai_state }}</span></p>
                    <br>
                    <button class="small_button" data-action="toggle_ai_state">Toggle</button>




                    <p><span class="small_note">Controls whether on not the heat will turn on shortly before the time it's scheduled to turn on so as to be at the users desired temperature at the time the schedule is set for. </span></p>

                  </div>



                  <div id="login_div">
                    <br>
                    <input type="button"
                           class="small_button"
                           value="Return To Main Page"
                           onclick="location.href = '{% url 'main_base' %}';" />

                  </div>



                  <script type="text/javascript" src='{% static "jquery-3.2.1.min.js" %}'></script>
                  <script type="text/javascript" src='{% static "reconnecting-websocket.min.js" %}'></script>
          </body>

    <script>

        function start(){
            var theme_color = "{{ theme_color }}";
            var accent_color = "{{ accent_color }}";
            if (accent_color == "Orange"){
              accent_color_hex = "#EBA421";
            }
            else if (accent_color == "Green") {
              accent_color_hex = "#008000";
            }
            else if (accent_color == "Red") {
              accent_color_hex = "#B6313E";
            }
            else{
              accent_color_hex = "#4472A7";
            }
            $('.small_button').css("background", accent_color_hex);
            $('#usertable th').css("background", accent_color_hex);

        }
          $(function() {
              var websocket_permission = null;
              var websocket_username = [];
              var old_default_permission_level = "{{ default_rank }}"
              var old_register_ability = null;
              var old_ai_state = null;

              // When we're using HTTPS, use WSS too.
              var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
              var chatsock = new ReconnectingWebSocket(ws_scheme + '://' + window.location.host + "/main/");

              chatsock.onmessage = function(message) {
                  console.log(message.data)

                  var a = JSON.parse(message.data);
                  if (a.user_list_id_for_permission_change != null){
                    $('#access_level_'+ a.user_list_id_for_permission_change).text(a.new_permission_level);
                  }

                  if (a.user_to_delete != null){
                    $('#row_'+ a.userlistid).remove();
                  }

                  if (a.new_default_permission_level != null){
                    $('#default_access_level').text(a.new_default_permission_level);
                    old_default_permission_level = a.new_default_permission_level;
                  }
                  if (a.new_user_register_ability != null){
                    $('#register_enabled').text(a.new_user_register_ability);
                    old_register_ability = a.new_user_register_ability;
                  }
                  if (a.new_ai_state != null){
                    $('#current_schedule_ai_state').text(a.new_ai_state);
                    old_ai_state = a.new_ai_state;
                  }
              };







              $('[data-action="change_permission_level"]').on('click', function() {

                  var id = $(this).attr('id');
                  var string = id.split("%");
                  var increase_or_decrease = string[0];
                  var userid = string[1];
                  //var current_permission_level = string[2];
                  var userlistid = string[3];
                  var current_permission_level_unformatted = $('#access_level_'+ userlistid).text();
                  var current_permission_level = current_permission_level_unformatted.trim();


                  console.log("Attempting to change permission level from%" + current_permission_level + "%");


                  if (increase_or_decrease == "increase_permission_level"){
                    if (current_permission_level == "Member"){
                      var new_permission_level = "Admin";
                      change_permissions(new_permission_level,userid,new_permission_level);


                    }
                    if (current_permission_level == "User"){
                      var new_permission_level = "Member";
                      change_permissions(new_permission_level,userid,new_permission_level);


                    }
                    if (current_permission_level == "Guest"){
                      var new_permission_level = "User";
                      change_permissions(new_permission_level,userid,new_permission_level);


                    }

                  }
                  if (increase_or_decrease == "decrease_permission_level"){
                    if (current_permission_level == "Admin"){
                      var new_permission_level = "Member";
                      change_permissions(new_permission_level,userid,new_permission_level);


                    }
                    if (current_permission_level == "Member"){
                      var new_permission_level = "User";
                      change_permissions(new_permission_level,userid,new_permission_level);


                    }
                    if (current_permission_level == "User"){
                      var new_permission_level = "Guest";
                      change_permissions(new_permission_level,userid,new_permission_level);
                    }
                  }



                  function change_permissions(new_permission_level,userid,new_permission_level){
                    console.log("Changing access_level for " + userid + " from " + current_permission_level + " to " + new_permission_level);
                      if ( userid != "{{ request.user.id }}"){
                        chatsock.send(JSON.stringify({
                           'user_for_permission_change': userid, 'user_list_id_for_permission_change': userlistid, 'new_permission_level': new_permission_level
                        }));

                        $.ajax({
                            url: {% url 'permission_level_change' %},
                            data: {userid: userid, new_permission_level: new_permission_level, current_permission_level:current_permission_level},
                            traditional: true,
                            dataType: 'json',
                            success: function(result){
                                }
                        });
                      }

                      else{
                           window.alert("You cannot change your own account settings");
                      }



                  }


              });




              $('[data-action="delete_user"]').on('click', function() {

                var id = $(this).attr('id');
                var string = id.split("%");
                var userid = string[1];
                var userlistid = string[2];


                if ( userid != "{{ request.user.id }}"){

                  if(confirm("Are you sure you want to delete this user?")){
                    chatsock.send(JSON.stringify({
                       'user_to_delete': userid, 'userlistid':userlistid
                    }));


                    $.ajax({
                      url: {% url 'user_delete' %},
                        data: {userid: userid},
                        traditional: true,
                        dataType: 'json',
                        success: function(result){
                            }
                    });


                  }
                  else{
                    return false;
                  }
                }

                else{
                  window.alert("You cannot delete your own account");

                }


              });


              $('[data-action="change_default_permission_level"]').on('click', function() {

                var id = $(this).attr('id');

                  if (id == "decrease_default_permission_level_button"){
                    if (old_default_permission_level == "Admin"){
                      new_default_permission_level = "Member";
                    }
                    if (old_default_permission_level == "Member"){
                      new_default_permission_level = "User";
                    }
                    if (old_default_permission_level == "User"){
                      new_default_permission_level = "Guest";
                    }
                  }
                  else{
                    if (old_default_permission_level == "Member"){
                      new_default_permission_level = "Admin";
                    }
                    if (old_default_permission_level == "User"){
                      new_default_permission_level = "Member";
                    }
                    if (old_default_permission_level == "Guest"){
                      new_default_permission_level = "User";
                    }

                  }






                  chatsock.send(JSON.stringify({
                     'new_default_permission_level': new_default_permission_level,
                  }));


                  $.ajax({
                    url: {% url 'change_default_permission_level' %},
                      data: {default_permission_level: new_default_permission_level},
                      traditional: true,
                      dataType: 'json',
                      success: function(result){
                          }
                  });


              });



              $('[data-action="toggle_register_ability"]').on('click', function() {
                var register_ability = "{{ new_user_register_ability }}";
                  if (old_register_ability != null){
                    if (old_register_ability == "Enabled"){
                      new_user_register_ability = "Disabled";
                    }
                    else{
                      new_user_register_ability = "Enabled";
                    }
                  }
                  else{
                    if (register_ability == "Enabled"){
                      new_user_register_ability = "Disabled";
                    }
                    else{
                      new_user_register_ability = "Enabled";
                    }
                  }

                  chatsock.send(JSON.stringify({
                     'new_user_register_ability': new_user_register_ability,
                  }));

                  $.ajax({
                    url: {% url 'toggle_register_ability' %},
                      data: {new_user_register_ability: new_user_register_ability},
                      traditional: true,
                      dataType: 'json',
                      success: function(result){
                          }
                  });
              });



              $('[data-action="toggle_ai_state"]').on('click', function() {
                var ai_state = "{{ ai_state }}";
                  if (old_ai_state != null){
                    if (old_ai_state == "Enabled"){
                      new_ai_state = "Disabled";
                    }
                    else{
                      new_ai_state = "Enabled";
                    }
                  }
                  else{
                    if (ai_state == "Enabled"){
                      new_ai_state = "Disabled";
                    }
                    else{
                      new_ai_state = "Enabled";
                    }
                  }

                  chatsock.send(JSON.stringify({
                     'new_ai_state': new_ai_state,
                  }));

                  $.ajax({
                    url: {% url 'toggle_ai_state' %},
                      data: {new_ai_state: new_ai_state},
                      traditional: true,
                      dataType: 'json',
                      success: function(result){
                          }
                  });
              });


          });
    </script>

{% else %}
    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <title>Hub</title>
            <link rel="stylesheet" href="{% static "css/base.css" %}" />
        </head>
        <body>
            <div id="error_div">
                <span class="error">This dungeon is too high level for you.</span>
                <br><br>
                <input type="button"
                        id="login_button"
                        value="Logout"
                        onclick="location.href = '{% url 'logout' %}';" />
            </div>

        </body>
    </html>

{% endifequal %}
{% endblock %}
