{% if user.is_authenticated %}

    {% load staticfiles %}

    {% ifequal user.groups.all.0.name "Guest" %}
        <!DOCTYPE html>
        <html>
            <head>
                <meta charset="UTF-8">
                <meta name='viewport' content='width=640, user-scalable=0'/>
                <title>Hub</title>
                <link rel="stylesheet" href="{% static "css/base.css" %}" />
            </head>
            <body>
                <div id="error_div">
                    <span class="error">Guests cannot view data. Please request a rank increase from an Admin</span>
                    <br><br>
                    <input type="button"
                            id="login_button"
                            value="Logout"
                            onclick="location.href = '{% url 'logout' %}';" />
                </div>

            </body>
        </html>
    {% else %}

        <html>
          <head>
              <title>Hub</title>
              <link rel="apple-touch-icon" sizes="180x180" href="{% static "images/apple-touch-icon.png" %}">
              <link rel="icon" type="image/png" sizes="32x32" href="{% static "images/favicon-32x32.png" %}">
              <link rel="icon" type="image/png" sizes="16x16" href="{% static "images/favicon-16x16.png" %}">
              <link rel="manifest" href="{% static "manifest.json" %}">
              <link rel="mask-icon" href="{% static "safari-pinned-tab.svg" %}" color="#5bbad5">
              <link rel="stylesheet" href="{% static "css/base.css" %}" />

          </head>

          <body onload="set_base_theme()">

              <div id="orange_nav" class="sidenav" >
               <a href="{% url 'main_base' %}">Heater</a>
               <a href="{% url 'heat_schedule' %}" class="sub_menu">&ensp;&ensp;&ensp;Schedule</a>
               <a href="{% url 'heater_graphs' %}" class="sub_menu">&ensp;&ensp;&ensp;Graph</a>
               <a href="{% url 'light' %}">Light</a>
               <a href="{% url 'user_settings' %}">Settings</a>
               {% ifequal user.groups.all.0.name "Admin" %}
               <a href="{% url 'admin_page' %}">Admin</a>
               <a href="{% url 'logs' %}">Logs</a>
               {% endifequal %}
               <a href="{% url 'logout' %}">Logout</a>

              </div>

            <span id ="open_nav" style="cursor:pointer; position:absolute; z-index:8; " >&#9776;</span>
            <script type="text/javascript" src='{% static "jquery-3.2.1.min.js" %}'></script>
            <script>

              function set_base_theme(){
                  var height = $(window).height();

                  var theme_color = "{{ theme_color }}";
                  var accent_color = "{{ accent_color }}";
                  if (theme_color == "Dark"){
                    $('body').css("background","#222222");
                    $('.sidenav').css({"background":"#222222", "-moz-box-shadow": "3px 3px 5px 6px #222222", "-webkit-box-shadow": "3px 3px 5px 6px #222222", "box-shadow": "3px 3px 5px 6px #222222"});
                  }
                  if (accent_color == "Green") {
                    $('.sidenav').attr("id", "green_nav");
                  }
                  if (accent_color == "Red") {
                    $('.sidenav').attr("id", "red_nav");
                  }
                  if (accent_color == "Blue") {
                    $('.sidenav').attr("id", "blue_nav");
                  }
                  $('#open_nav').css("font-size",height*0.05);





                  start();
              }

              function openNav() {
                  var height = $(window).height();
                  $('.sidenav').css("width",height*0.22);
                  $('a').css("font-size",height*0.05);
                  $('.sub_menu').css("font-size",height*0.03);

                  $('.sidenav').css("display","table-cell");

              }


              $('#open_nav').click(function(e){
                  e.stopPropagation();
                  openNav();
              });

              $('#open_nav').click(function(e){
                  e.stopPropagation();
              });

              $('body,html').click(function(e){
                 closeNav();
                 e.stopPropagation();

              });

              function closeNav() {
                  $('.sidenav').css("width","0");
                  $('.sidenav').css("-moz-box-shadow","none");
                  $('.sidenav').css("-webkit-box-shadow","none");
                  $('.sidenav').css("box-shadow","none");
              }


            </script>
            {% block base %}{% endblock %}

        </html>
    {% endifequal %}

{% else %}

    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <title>Hub</title>
            <link rel="stylesheet" href="{% static "css/base.css" %}" />
        </head>
        <body>
            <div id="error_div">
                <span class="error">You are not authorized to access this page.</span>
                <br><br>
                <input type="button"
                        id="login_button"
                        value="Login"
                        onclick="location.href = '{% url 'login' %}';" />
            </div>

        </body>
    </html>
{% endif %}
