{% load staticfiles %}


<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Hub</title>
        <link rel="stylesheet" href="{% static "css/base.css" %}" />
    </head>
    <body>
        <div id="error_div">
            <span class="error">You are not authorized to access this page.</span>
            <br><br>
            <input type="button"
                    id="login_button"
                    value="Login"
                    onclick="location.href = '{% url 'login' %}';" />
        </div>

    </body>
</html>
