
{% extends 'base.html'%}

{% load static %}

{% block base %}
<link rel="stylesheet" href="{% static "css/dash.css" %}" />

    <div id="center" >

        Welcome to Your Hub<br>
        <span id="subtext">Add a device to begin</span><br>
        <svg

           id="svg8"
           viewBox="0 0 200.0002 200.00018"
           height="200.00018mm"
           width="200.0002mm">
          <defs
             id="defs2" />

          <g
             transform="translate(0,-96.999762)"
             id="layer1">
            <path
               transform="scale(0.26458333)"
               id="path815"
               d="M 377.95312,366.61328 A 377.95276,377.95276 0 0 0 0,744.56641 377.95276,377.95276 0 0 0 377.95312,1122.5195 377.95276,377.95276 0 0 0 755.90625,744.56641 377.95276,377.95276 0 0 0 377.95312,366.61328 Z m -37.79296,151.18164 h 75.58593 l 0.002,0.002 v 188.9746 H 604.7227 l 0.002,0.002 v 75.58594 l -0.002,0.002 H 415.74805 v 188.97461 l -0.002,0.002 h -75.58593 l -0.002,-0.002 V 782.36133 H 151.18359 l -0.002,-0.002 v -75.58594 l 0.002,-0.002 H 340.1582 v -188.9746 z"
               style="fill:#b5adad;fill-opacity:1;stroke-width:1.0498687" />
            <rect
               width="0"
               height="18.142857"
               ry="0.0010335286"
               y="66.056549"
               x="35.907738"
               id="rect819"
               style="fill:#fc6666;fill-opacity:1;stroke-width:0.26458332" />
          </g>
        </svg>
    </div>



    <script>
        var theme_color = "{{ theme_color }}";
        var accent_color = "{{ accent_color }}";
        function start(){

            var height = $(window).height();


            $('#center').css({'font-size': (height*0.1) + 'px','line-height': (height*0.1) + 'px'})
            $('#subtext').css({'font-size': (height*0.06) + 'px','line-height': (height*0.1) + 'px'})
            $('#svg8').css({'height': (height*0.1) })

            if (accent_color == "Green"){
                $('path:hover').css({'fill': "#008000" })
            }
            if (accent_color == "Red"){
                $('path:hover').css({'fill': "#B6313E" })
            }
            if (accent_color == "Orange"){
                $('path:hover').css({'fill': "#EBA421" })
            }
            if (accent_color == "Blue"){
                $('path:hover').css({'fill': "#4472A7" })
            }
        };
        $("path").hover(function(){
            if (accent_color == "Green"){
                $(this).css({'fill': "#008000" })
            }
            if (accent_color == "Red"){
                $(this).css({'fill': "#B6313E" })
            }
            if (accent_color == "Orange"){
                $(this).css({'fill': "#EBA421" })
            }
            if (accent_color == "Blue"){
                $(this).css({'fill': "#4472A7" })
            }}, function(){
                $(this).css("fill", "#b5adad");

        });


    </script>
{% endblock %}
