
{% extends 'base.html'%}

{% load static %}

{% block base %}
<link rel="stylesheet" href="{% static "css/dash.css" %}" />

    <div id="center" >

        Select the device<br>


        {% for wifi_network in get_wifi %}

            <span class = "subtext" data-action="select_network" id ="{{ wifi_network }}">{{ wifi_network }}</span><br>

        {% endfor %}
        <div id="under_text">
            <form>
              <input type="password" placeholder="Enter Password" name="psw" id="password_box">
            </form>
        </div>
    </div>



    <script>
        var theme_color = "{{ theme_color }}";
        var accent_color = "{{ accent_color }}";
        var selected = null;
        function start(){
            var height = $(window).height();

            $('#center').css({'font-size': (height*0.1) + 'px','line-height': (height*0.1) + 'px'});
            $('.subtext').css({'font-size': (height*0.06) + 'px','line-height': (height*0.1) + 'px'});

            $('#password_box').css({'font-size': (height*0.04) + 'px','line-height': (height*0.1) + 'px'});

            if (accent_color == "Green"){
                $('#password_box').css({'border-color': "#008000" });
            }
            if (accent_color == "Red"){
                $('#password_box').css({'border-color': "#B6313E" });
            }
            if (accent_color == "Orange"){
                $('#password_box').css({'border-color': "#EBA421" });
            }
            if (accent_color == "Blue"){
                $('#password_box').css({'border-color': "#4472A7" });
            }
        };

        $('.subtext').hover(function(){
            if (accent_color == "Green"){
                $(this).css({'border-color': "#008000" })
            }
            if (accent_color == "Red"){
                $(this).css({'border-color': "#B6313E" })
            }
            if (accent_color == "Orange"){
                $(this).css({'border-color': "#EBA421" })
            }
            if (accent_color == "Blue"){
                $(this).css({'border-color': "#4472A7" })
            }}, function(){
                $(this).css("border-color", "#818181");

        });


        $('[data-action="select_network"]').on('click', function() {
            console.log("clicked");
            var x = $(this).attr('id');
            if (selected == x ){
                selected = null;
                $("#under_text").css({'display': "none" });
                $(this).css({'border-color': "#818181" });
            }
            else{
                console.log("Selected a new network");
                selected = $(this).attr('id');
                console.log(selected);
                $(selected).css({'border-color': "#818181" });
                if (accent_color == "Green"){
                    $(this).css({'border-color': "#008000" });
                }
                if (accent_color == "Red"){
                    $(this).css({'border-color': "#B6313E" });
                }
                if (accent_color == "Orange"){
                    $(this).css({'border-color': "#EBA421" });
                }
                if (accent_color == "Blue"){
                    $(this).css({'border-color': "#4472A7" });
                }
                var width = $(this).width();
                $('#under_text').css({'width': width*0.8});
                $('#password_box').css({'width': width*0.8});

                $("#under_text").insertAfter($(this));
                $("#under_text").css({'display': "block" });
            }


        });
    </script>
{% endblock %}
