
{% extends 'base.html'%}

{% load static %}

{% block base %}
<link rel="stylesheet" href="{% static "css/calendar.css" %}" />

  <body onload="start()">


    <div id="wrapper">
        <ul class="weekdays">
            <li></li>
            <li>Monday</li>
            <li>Tuesday</li>
            <li>Wednesday</li>
            <li>Thursday</li>
            <li>Friday</li>
            <li>Saturday</li>
            <li>Sunday</li>
        </ul>

        <ul class="days">
            <li>00:00</li>
            <li id="1" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="25" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="49" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="73" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="97" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="121" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="145" data-action="schedule_hour_toggle">&nbsp</li>

        </ul>

        <ul class="days">
            <li>01:00</li>
            <li id="2" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="26" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="50" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="74" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="98" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="122" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="146" data-action="schedule_hour_toggle">&nbsp</li>
        </ul>

        <ul class="days">
            <li>02:00</li>
            <li id="3" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="27" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="51" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="75" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="99" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="123" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="147" data-action="schedule_hour_toggle">&nbsp</li>
        </ul>

        <ul class="days">
            <li>03:00</li>
            <li id="4" data-action="schedule_hour_toggle">&nbsp </li>
            <li id="28" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="52" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="76" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="100" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="124" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="148" data-action="schedule_hour_toggle">&nbsp</li>
        </ul>

        <ul class="days">
            <li>04:00</li>
            <li id="5" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="29" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="53" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="77" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="101" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="125" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="149" data-action="schedule_hour_toggle">&nbsp</li>
        </ul>

        <ul class="days">
            <li>05:00</li>
            <li id="6" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="30" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="54" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="78" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="102" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="126" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="150" data-action="schedule_hour_toggle">&nbsp</li>
        </ul>

        <ul class="days">
            <li>06:00</li>
            <li id="7" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="31" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="55" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="79" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="103" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="127" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="151" data-action="schedule_hour_toggle">&nbsp</li>
        </ul>

        <ul class="days">
            <li>07:00</li>
            <li id="8" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="32" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="56" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="80" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="104" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="128" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="152" data-action="schedule_hour_toggle">&nbsp</li>
        </ul>

        <ul class="days">
            <li>08:00</li>
            <li id="9" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="33" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="57" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="81" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="105" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="129" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="153" data-action="schedule_hour_toggle">&nbsp</li>
        </ul>

        <ul class="days">
            <li>09:00</li>
            <li id="10" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="34" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="58" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="82" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="106" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="130" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="154" data-action="schedule_hour_toggle">&nbsp</li>
        </ul>

        <ul class="days">
            <li>10:00</li>
            <li id="11" data-action="schedule_hour_toggle">&nbsp </li>
            <li id="35" data-action="schedule_hour_toggle">&nbsp </li>
            <li id="59" data-action="schedule_hour_toggle">&nbsp </li>
            <li id="83" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="107" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="131" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="155" data-action="schedule_hour_toggle">&nbsp</li>
        </ul>

        <ul class="days">
            <li>11:00</li>
            <li id="12" data-action="schedule_hour_toggle"> &nbsp</li>
            <li id="36" data-action="schedule_hour_toggle">&nbsp </li>
            <li id="60" data-action="schedule_hour_toggle"> &nbsp</li>
            <li id="84" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="108" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="132" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="156" data-action="schedule_hour_toggle">&nbsp</li>
        </ul>

        <ul class="days">
            <li>12:00</li>
            <li id="13" data-action="schedule_hour_toggle">&nbsp </li>
            <li id="37" data-action="schedule_hour_toggle">&nbsp </li>
            <li id="61" data-action="schedule_hour_toggle">&nbsp </li>
            <li id="85" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="109" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="133" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="157" data-action="schedule_hour_toggle">&nbsp</li>
        </ul>

        <ul class="days">
            <li>13:00</li>
            <li id="14" data-action="schedule_hour_toggle">&nbsp </li>
            <li id="38" data-action="schedule_hour_toggle"> &nbsp</li>
            <li id="62" data-action="schedule_hour_toggle"> &nbsp</li>
            <li id="86" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="110" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="134" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="158" data-action="schedule_hour_toggle">&nbsp</li>
        </ul>

        <ul class="days">
            <li>14:00</li>
            <li id="15" data-action="schedule_hour_toggle"> &nbsp</li>
            <li id="39" data-action="schedule_hour_toggle">&nbsp </li>
            <li id="63" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="87" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="111" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="135" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="159" data-action="schedule_hour_toggle">&nbsp</li>
        </ul>

        <ul class="days">
            <li>15:00</li>
            <li id="16" data-action="schedule_hour_toggle">&nbsp </li>
            <li id="40" data-action="schedule_hour_toggle"> &nbsp</li>
            <li id="64" data-action="schedule_hour_toggle">&nbsp </li>
            <li id="88" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="112" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="136" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="160" data-action="schedule_hour_toggle">&nbsp</li>
        </ul>

        <ul class="days">
            <li>16:00</li>
            <li id="17" data-action="schedule_hour_toggle">&nbsp </li>
            <li id="41" data-action="schedule_hour_toggle">&nbsp </li>
            <li id="65" data-action="schedule_hour_toggle">&nbsp </li>
            <li id="89" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="113" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="137" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="161" data-action="schedule_hour_toggle">&nbsp</li>
        </ul>

        <ul class="days">
            <li>17:00</li>
            <li id="18" data-action="schedule_hour_toggle">&nbsp </li>
            <li id="42" data-action="schedule_hour_toggle">&nbsp </li>
            <li id="66" data-action="schedule_hour_toggle">&nbsp </li>
            <li id="90" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="114" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="138" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="162" data-action="schedule_hour_toggle">&nbsp</li>
        </ul>

        <ul class="days">
            <li>18:00</li>
            <li id="19" data-action="schedule_hour_toggle">&nbsp </li>
            <li id="43" data-action="schedule_hour_toggle"> &nbsp</li>
            <li id="67" data-action="schedule_hour_toggle">&nbsp </li>
            <li id="91" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="115" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="139" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="163" data-action="schedule_hour_toggle">&nbsp</li>
        </ul>

        <ul class="days">
            <li>19:00</li>
            <li id="20" data-action="schedule_hour_toggle">&nbsp </li>
            <li id="44" data-action="schedule_hour_toggle">&nbsp </li>
            <li id="68" data-action="schedule_hour_toggle">&nbsp </li>
            <li id="92" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="116" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="140" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="164" data-action="schedule_hour_toggle">&nbsp</li>
        </ul>

        <ul class="days">
            <li>20:00</li>
            <li id="21" data-action="schedule_hour_toggle">&nbsp </li>
            <li id="45" data-action="schedule_hour_toggle">&nbsp </li>
            <li id="69" data-action="schedule_hour_toggle">&nbsp </li>
            <li id="93" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="117" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="141" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="165" data-action="schedule_hour_toggle">&nbsp</li>
        </ul>

        <ul class="days">
            <li>21:00</li>
            <li id="22" data-action="schedule_hour_toggle">&nbsp </li>
            <li id="46" data-action="schedule_hour_toggle">&nbsp </li>
            <li id="70" data-action="schedule_hour_toggle">&nbsp </li>
            <li id="94" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="118" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="142" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="166" data-action="schedule_hour_toggle">&nbsp</li>
        </ul>

        <ul class="days">
            <li>22:00</li>
            <li id="23" data-action="schedule_hour_toggle">&nbsp </li>
            <li id="47" data-action="schedule_hour_toggle">&nbsp </li>
            <li id="71" data-action="schedule_hour_toggle">&nbsp </li>
            <li id="95" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="119" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="143" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="167" data-action="schedule_hour_toggle">&nbsp</li>
        </ul>

        <ul class="days">
            <li class = "time">23:00</li>
            <li id="24" data-action="schedule_hour_toggle">&nbsp </li>
            <li id="48" data-action="schedule_hour_toggle">&nbsp </li>
            <li id="72" data-action="schedule_hour_toggle">&nbsp </li>
            <li id="96" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="120" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="144" data-action="schedule_hour_toggle">&nbsp</li>
            <li id="168" data-action="schedule_hour_toggle">&nbsp</li>
        </ul>

    </div>


    </body>

    <script type="text/javascript" src='{% static "jquery-3.2.1.min.js" %}'></script>
    <script type="text/javascript" src='{% static "reconnecting-websocket.min.js" %}'></script>

    <script>
      function start(){
          var i=  0;
          var d = 1;
          var hours_array = "{{ schdule_hours}}"
          while (d < 169) {

              var current_value = hours_array[i];

              if(current_value == "1"){
                  document.getElementById(d).className = "slot";
                  i++;
                  d++;
              }

              else if(current_value == "0"){
                  document.getElementById(d).className = "not";
                  i++;
                  d++;
              }

              else{
                  i++;
              }
          }
      }

        $(function() {
            var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
            var chatsock = new ReconnectingWebSocket(ws_scheme + '://' + window.location.host + "/heater/schedule/");

            var isDown = false;   // Tracks status of mouse button

            chatsock.onmessage = function(message) {

                var a = JSON.parse(message.data);

                var id = a.schedule_hour_toggle;



                if (id != null){
                  console.log(id)
                  var current_class = $('#' + id).attr('class');
                  console.log(current_class)

                  if (current_class == "slot"){
                    $('#' + id).attr('class', 'not');

                  }
                  else{
                    $('#' + id).attr('class', 'slot');

                  }


                }
            };

            {% if user.groups.all.0.name == "Admin" or user.groups.all.0.name == "Member" %}

            $('[data-action="schedule_hour_toggle"]').on('mousedown', function() {

                  var id = $(this).attr('id');

                  chatsock.send(JSON.stringify({
                    'schedule_hour_toggle': id
                  }));

                  $.ajax({
                      url: {% url 'schedule_hour_toggle' %},
                      data: {value: id},
                      traditional: true,
                      dataType: 'json',
                      success: function(result){
                          }
                  });

            });
            {% endif %}

        });

    </script>

{% endblock %}
